<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bgw.project.mapper.BoardMapper">



    <select id="selectAllCntBoardByName" resultType="Integer">
        select count(A.seq)
         from board A,menu B
         where A.MENU_ID = B.MENU_ID
           AND B.NAME = #{name}
           and A.use_ox = 'o'
    </select>

    <select id="selectAllBoardByPagingVO" resultType="BoardDTO" parameterType="bgw.project.vo.PagingVO">
        SELECT   *
          FROM (SELECT @ROWNUM:=@ROWNUM+1 as rn , A.*
                  from (select  C.seq,
                                C.writer,
                                C.kind,
                                C.notice_status,
                                C.views,
                                C.ip,
                                C.title,
                                C.rgstr_date
                           FROM board C,menu D
                          where C.MENU_ID = D.MENU_ID
                            AND D.NAME = #{name}
                            and C.use_ox = 'o'
                        order by seq)A
            WHERE (SELECT @ROWNUM:=0)=0 )B
        WHERE rn BETWEEN #{start} AND #{end}
    </select>

    <select id="selectBoardDetailBySeq"  resultType="BoardDTO">
        select *
         from board
        where seq = #{seq}

    </select>

    <insert id="insertBoard" parameterType="BoardDTO"  useGeneratedKeys="true" keyProperty="seq">
        insert into board(menu_id,kind,title,writer,content,notice_status,ip)
                     values(#{menuId},#{kind},#{title},#{writer},#{content},#{noticeStatus},#{ip})

    </insert>

    <update id="updateBoard" parameterType="BoardDTO">
        update board set
            kind = #{kind},
            title = #{title},
            content = #{content},
            ip = #{ip}
        where seq = #{seq}
    </update>

    <delete id="deleteBoard" parameterType="java.lang.Integer">
        update board set
            use_ox = 'X'
          where seq = #{seq}
    </delete>
    <delete id="deleteBoardBySeq" parameterType="java.lang.Integer">
        delete from board
         where seq=#{seq}
    </delete>




</mapper>